<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel="stylesheet" type="text/css" href="font/ibmvga8.css">
        <link rel="stylesheet" type="text/css" href="thebigolstylesheet.css">
    </head>
    
    <body>
        <header>
            <span id="title">N-ATDC Version <span id="date"></span></span>
            
            <ul id="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="">Archive</a></li>
                <li><a href="https://github.com/NickStrupat">GitHub</a></li>
                <li><a href="https://ca.linkedin.com/in/nick-strupat-7a586751">LinkedIn</a></li>
            </ul>
            
            <span id="info">
                <span id="time"></span>
                <input id="search" type="text" placeholder="Search"/>
            </span>
        </header>
        
		<section>
            <article class="title">
                <main>
                    <h1>Nicholas and the Amazing Technicolor Dream Code</h1>
                </main>
            </article>
        </section>
        
		<!--<section>
            <article>
				<header>
                	<h1>EntityFramework triggers</h1>
				</header>
                <main>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales euismod ipsum, quis commodo nisi euismod et. Maecenas dictum tempus vestibulum. Duis pulvinar felis non dui laoreet pulvinar. Morbi sit amet purus ut justo mattis hendrerit. Mauris sit amet nibh faucibus urna commodo tempus at dapibus velit. Donec efficitur eros velit, sit amet aliquam ante rhoncus at. Quisque et eros nibh. Cras eget porta nibh, non tincidunt arcu. Vestibulum congue, eros eu ornare sollicitudin, augue ligula aliquet sapien, at tempus velit leo id velit. Morbi ut mi ut risus mattis sagittis. Etiam auctor massa quis mauris blandit dignissim. Vivamus euismod egestas augue, at rutrum nunc vestibulum nec.
                    </p>
                </main>
            </article>
        </section>-->
        
		<section v-for="post in posts">
            <article>
				<header>
					<h1><a href="#post={{ post.number }}">{{ post.title }}</a></h1>
					<span class="date-time">{{ post.created }}</span>
				</header>
				
                <main>
                    {{{ post.bodyHtml }}}
                </main>
				
				<footer>
					<a class="comment-count" href="#post={{ post.number }}">{{ post.commentCountText }}</a>
				</footer>
            </article>
        </section>
		
		<section v-for="comment in comments">
            <article class="comment">
				<header>
					<h1><a href="https://github.com/{{ comment.user.login }}">{{ comment.user.login }}</a></h1>
					<span class="date-time">{{ comment.created }}</span>
				</header>
				
                <main>
                    {{{ comment.bodyHtml }}}
                </main>
            </article>
		</section>
        
		<section v-if="message">
            <article>
                <main>
                    {{ message }}
                </main>
            </article>
        </section>
        
        <footer>
            <a class="email" href="mailto:nick.strupat@gmail.com">nick.strupat@gmail.com</a>
            <button class="email">nick.strupat@gmail.com</button>
            <span id="page-length"></span>
        </footer>
    </body>
    <script src="showdown.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
    <script src="thescriptfile.js"></script>
</html>