html {
    /*background: black;
    background: url(data:image/gif;base64,R0lGODlhAwADAIAAAKWlpQAAACwAAAAAAwADAAACBEwAdlEAOw==);*/
    
    background: #333; 
    background: url('data:image/gif;base64,R0lGODlhCQACAIAAAKioqAAAACwAAAAACQACAAACBoxhgZobBQA7');
    
    font-family: 'IBMVGA8';
    font-size: 16px;
    /*text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);*/
    
    -webkit-text-size-adjust: none;
}
/*#background {
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 9999px;
    background: url('data:image/gif;base64,R0lGODlhCQACAIAAAKioqAAAACwAAAAACQACAAACBoxhgZobBQA7');
    background: #333;                
}*/
/*@media only screen and (min-resolution: 144dpi) {
    #background {
        -moz-transform: scale(1.3333,1.3333);
        -webkit-transform: scale(1.3333,1.3333);
        transform: scale(1.3333,1.3333);
    }
}*/
body {
    margin: 0;
	padding-bottom: 1em;
}
header {
    box-sizing: border-box;
    width: 100%;
    background: grey;
    padding: 0 1em;
    color: black;
}
ul#navigation {
    padding: 0 1em;
}
#title {
    width: 100%;
}

@media (max-width: 567px) {
    #title { float: left; }
    ul#navigation {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
}
@media (max-width: 595px) {
    ul#navigation > li > a:first-child {
        padding-left: 0;
    }
}
@media (max-width: 666px) {
    #time { display: none; }
    #search:focus { width: initial; }
}
@media (max-width: 792px) {
    #search { width: 4em; }
    header > ul { padding: 0; }
}

ul#navigation,
ul#navigation > li {
    display: inline-block;
    color: black;
}
ul#navigation > li::first-letter {
    color: darkred;
}
a {
    padding: 0 0.5em;
    text-decoration: none;
    color: inherit;
}
button.email:hover,
a:hover {
    background: black;
    color: grey;
}
#time {
    padding-top: 1px;
    margin-right: 1em;
}
#info {
    position: absolute;
    top: 0;
    right: 0;
}
#search {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: 'IBMVGA8';
    font-size: 16px;
    border: none;
    border-radius: 0;
    margin: 0;
    margin-right: 1em;
    padding: 0 0.5em;
    background: black;
    color: white;
}
#search:focus {
    outline: none;
}

#search,
#time,
#page-length {
    float: right;
}

/*li {
    margin: 0;
    list-style-type: none;
    width: 80em;
    overflow-x: hidden;
}
li:before {
    color: #0aa;
    content: "\BB\A0";
}
li:after {
    color: #a00;
    content: ' ]-----------------------------------------------------------------------------------------------';
}*/
section {
	display: none;
    margin: 2em auto;
    max-width: 800px;
}
body[data-loaded=true] > section {
    display: block;
}
section:first-of-type {
    margin: 1em auto;
}

article {
    position: relative;
    margin: 0 1em 0 0.5em;
    padding: 0.5em 2px;
    
	$foreground-color: white;
	$background-color: blue;
	
    color: $foreground-color;
    background: $background-color;
    box-shadow: 0.5em 1em rgba(0, 0, 0, 0.5);
	
	p {
		margin: 1em 0;
	}
	
	&> header {
		&> h1,
		&> span {
			position: absolute;
			padding: 2px 0.5em 0 0.5em;
		}
		
		&> h1 {
			position: absolute;
			left: 1em;
			top: 0;
			padding: 2px 0.5em 0 0.5em;
			background: inherit;
			color: $background-color;
			background-color: $foreground-color;
		}
		
		&> .date-time {
			right: 1em;
			top: 0;
			color: $background-color;
			background-color: $foreground-color;
		}
	}
	
	&> footer {
		&> .comment-count {
			position: absolute;
			right: 1em;
			bottom: 0;
			padding: 0 0.5em;
			color: $background-color;
			background-color: $foreground-color;
		}
	}
}
article.comment {
	$foreground-color: white;
	$background-color: darkgreen;
    background: $background-color;
	
	&> header {
		&> h1 {
			color: $background-color;
			background-color: $foreground-color;
		}
		
		&> .date-time {
			color: $background-color;
			background-color: $foreground-color;
		}
	}
	&> footer {
		&> .comment-count {
			color: $background-color;
			background-color: $foreground-color;
		}
	}
}
article.title {
    color: yellow;
    background-color: darkred;
    
    &> main {
        text-align: center;
        border-color: yellow;
    }
}
/*div.dos-box-outer > h1:before {
}
div.dos-box-outer > h1:after {
}*/
article > main {
    border: 3px white double;
    padding: 0.5em;
}

body > footer {
    position: fixed;
    left: 0;
    bottom: -1px;
    width: 100%;
    background: teal;
	&> * {
		padding: 1px 0;
	}
}

button.email {
    display: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
}
button.email:hover {
    cursor: pointer;
}
#page-length:before {
    content: "Page size: ";
}