html {
    /*background: black;
    background: url(data:image/gif;base64,R0lGODlhAwADAIAAAKWlpQAAACwAAAAAAwADAAACBEwAdlEAOw==);*/
    
    /*background: url('data:image/gif;base64,R0lGODlhCQACAIAAAKioqAAAACwAAAAACQACAAACBoxhgZobBQA7');*/
    background: #333; 
    
    font-family: 'IBMVGA8';
    font-size: 16px;
    /*text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);*/
    
    -webkit-text-size-adjust: none;
}
/*#background {
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 9999px;
    background: url('data:image/gif;base64,R0lGODlhCQACAIAAAKioqAAAACwAAAAACQACAAACBoxhgZobBQA7');
    background: #333;                
}*/
/*@media only screen and (min-resolution: 144dpi) {
    #background {
        -moz-transform: scale(1.3333,1.3333);
        -webkit-transform: scale(1.3333,1.3333);
        transform: scale(1.3333,1.3333);
    }
}*/
body {
    margin: 0;
}
header {
    box-sizing: border-box;
    width: 100%;
    background: grey;
    padding: 0 1em;
    color: black;
}
ul#navigation {
    padding: 0 1em;
}
#title {
    width: 100%;
}
@media (max-width: 596px) {
    #title { float: left; }
    ul#navigation {
        width: 100%;
        padding-left: 0;
    }
    ul#navigation > li > a:first-child {
        padding-left: 0;
    }
}
@media (max-width: 670px) {
    #time { display: none; }
    #search:focus { width: initial; }
}
@media (max-width: 780px) {
    #search { width: 4em; }
    header > ul { padding: 0; }
}
ul#navigation,
ul#navigation > li {
    display: inline-block;
    color: black;
}
ul#navigation > li::first-letter {
    color: darkred;
}
a {
    padding: 0 0.5em;
    text-decoration: none;
    color: inherit;
}
button.email:hover,
a:hover {
    background: black;
    color: grey;
}
#time {
    padding-top: 1px;
    margin-right: 1em;
}
#info {
    position: absolute;
    top: 0;
    right: 0;
}
#search {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: 'IBMVGA8';
    font-size: 16px;
    border: none;
    border-radius: 0;
    margin: 0;
    margin-right: 1em;
    padding: 0 0.5em;
    background: black;
    color: white;
}
#search:focus {
    outline: none;
}

#search,
#time,
#page-length {
    float: right;
}

/*li {
    margin: 0;
    list-style-type: none;
    width: 80em;
    overflow-x: hidden;
}
li:before {
    color: #0aa;
    content: "\BB\A0";
}
li:after {
    color: #a00;
    content: ' ]-----------------------------------------------------------------------------------------------';
}*/
section {
    margin: 2em auto;
    max-width: 800px;
}
section:first-of-type {
    margin: 1em auto;
}
article {
    position: relative;
    margin: 0 1em 0 0.5em;
    padding: 0.5em 2px;
    
    color: white;
    background: blue;
    box-shadow: 0.5em 1em rgba(0, 0, 0, 0.5);
}
article.title {
    color: yellow;
    background-color: darkred;
    
    &> div.article-body {
        border-color: yellow;
    }
}
article > h1 {
    position: absolute;
    left: 1em;
    top: 0;
    padding: 2px 0.5em 0 0.5em;
    background: inherit;
}
/*div.dos-box-outer > h1:before {
}
div.dos-box-outer > h1:after {
}*/
div.article-body {
    border: 3px white double;
    padding: 0.5em;
}

footer {
    position: fixed;
    left: 0;
    bottom: -1px;
    width: 100%;
    background: teal;
}
footer > * {
    padding: 1px 0;
}
button.email {
    display: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
}
button.email:hover {
    cursor: pointer;
}
#page-length:before {
    content: "Page size: ";
}